
body
  h1 Qustion 1b
  p  #{className} welcome all students at BU!
  h4 Mr. #{professorName} is a very nice guy!

  h4 Boston University is: #{bu}

  h1 Questing 1c)
  h4  This is the string:  #{yong}
  h4 The length of the message: #{lengthStr}
